package pages

import "github.com/micahco/mono/internal/data"

templ Dashboard(user *data.User) {
    <main>
        <h1>Dashboard</h1>

        <table>
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{ user.Email }</td>
                </tr>
            </tbody>
        </table>

        <a href="/auth/reset">Change password</a>
    </main>
}
