package pages

templ Base(title string) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/static/main.css">
        <title>{ title }</title>
    </head>
    <body>
        <header>
            <em>mono-web</em>
        </header>
        { children... }
    </body>
    </html>
}
